@import "tailwindcss";
@custom-variant dark .dark;

@theme {
  --breakpoint-lg: 1200px;
  --breakpoint-sm: 275px;
  --breakpoint-md: 687px;
  --color-primary:#171717;
  --color-secondary:#DEDEDE;
  --color-tertiary:#F6B846;
  --color-textColor:#9CA3AF;
  --text-smalltext: 17px;
  --text-Texttitle1: 1px;
  --text-Texttitle2: 12px;
}

@layer base{
  h1{
    @apply  text-Texttitle1;
  }
  p{
    @apply text-sm ;
  }
}

@layer components{

  .navi{
    @apply sm:bg-primary lg:bg-transparent flex flex-col justify-center md:gap-3 items-center sm:z-50 sm:fixed sm:top-0 sm:left-0 sm:w-full
     lg:static md:w-18 md:top-10 md:left-1 lg:top-0 lg:left-0
    ;
  }

  .button{
    @apply  hover:text-tertiary cursor-pointer transition-all duration-300
  }
  .dark{
    @apply bg-primary text-secondary
  }
  .light{
    @apply bg-secondary text-primary 
  }
  .heroShadow{
    @apply before:content-[""] 
    before:absolute
    before:top-0
    before:-left-6
    before:inset-0
    before:w-full
    before:h-130
    /* before:opacity-20 */
    before:bg-tertiary
    before:from-black/60
    before:to-transparent
    sm:before:hidden
    lg:before:block
  }
  .page{
    @apply px-6 sm:py-5 lg:py-10 
  }
  .writeUp{
    @apply text-sm ;
  }
  .smallHeader{
    @apply text-[clamp(18px,4vw,22px)] leading-[1.3] font-semibold mb-3
  }
  .pageHeader{
    @apply text-[clamp(23px,3vw,32px)] leading-[1.2] font-bold mb-10
  }.textbody {
    @apply text-[clamp(16px,1.2vw,18px)] leading-[1.6] 
  }

  /* H1 header */
  .text-h1 {
    font-size: clamp(28px, 5vw, 48px);
    line-height: 1.2;
    font-weight: 700; /* bold */
  }

  /* H2 header */
  .text-h2 {
    font-size: clamp(24px, 4vw, 36px);
    line-height: 1.3;
    font-weight: 600; /* semi-bold */
  }
  
  @keyframes slidein{
    from{
      left:-100%;
    }
    to{
      left:0;
    }
  }
  .slideinNav{
    animation: slidein 1s ease-in-out forwards ;
  }
}
@keyframes accord{
  from{
    height: 0;
  }to{
    height: 100%;
  }
}
.accord{
   animation: accord 1s ease-in-out forwards ;
}
/* scroll effects */
/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* dark grey */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #374151;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #4b5563 transparent;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}


