@import "tailwindcss";

@theme {
  --breakpoint-lg: 1200px;
  --breakpoint-sm: 275px;
  --breakpoint-md: 687px;
  --color-primary:#171717;
  --color-secondary:#DEDEDE;
  --color-tertiary:#F6B846;
  --color-textColor::#9CA3AF;
  --text-smalltext: 12px;
  --text-Texttitle1: 15px;
  --text-Texttitle2: 12px;
}

@layer base{
  h1{
    @apply  text-Texttitle1;
  }
  p{
    @apply text-sm text-textColor ;
  }
}

@layer components{

  .navi{
    @apply sm:bg-primary lg:bg-transparent flex flex-col justify-center md:gap-3 items-center sm:z-50 sm:fixed sm:top-0 sm:left-0 sm:w-full
     lg:static md:w-18 md:top-10 md:left-1 lg:top-0 lg:left-0
    ;
  }

  .button{
    @apply text-secondary hover:text-tertiary cursor-pointer transition-all duration-300
  }
  .dark{
    @apply bg-primary text-secondary
  }
  .light{
    @apply bg-secondary text-primary 
  }
  .heroShadow{
    @apply before:content-[""] 
    before:absolute
    before:top-0
    before:-left-6
    before:inset-0
    before:w-full
    before:h-130
    /* before:opacity-20 */
    before:bg-tertiary
    before:from-black/60
    before:to-transparent
    sm:before:hidden
    lg:before:block
  }
  .page{
    @apply bg-primary text-secondary px-6 py-20
  }
  .writeUp{
    @apply text-sm text-textColor ;
  }
  .smallHeader{
    @apply text-lg font-semibold mb-3
  }
  .pageHeader{
    @apply text-2xl font-semibold mb-6 border-b border-neutral-700 pb-3
  }
}

/* scroll effects */
/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  height: 10px; /* horizontal scrollbar height */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* dark grey */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #374151;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: auto;
  scrollbar-color: #4b5563 transparent;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}


